<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101614430138-pf626j88uvdr48skl10ob20ep3mrakka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101614430138-pf626j88uvdr48skl10ob20ep3mrakka</string>
	<key>API_KEY</key>
	<string>AIzaSyBSS6phawk07QmRo5nWpLSBp1vh_OaUKqE</string>
	<key>GCM_SENDER_ID</key>
	<string>101614430138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misLab03</string>
	<key>PROJECT_ID</key>
	<string>mis-lab4-7417a</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-lab4-7417a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101614430138:ios:acb2119b8c5e9e5b94df83</string>
</dict>
</plist>